body{
    height:100%;
}

container{
    margin:30px;
}
img {
	border-radius: 5px;
	
}
.row-1{
    margin-bottom: 30px;
    width:  100%;
    height: auto;
}
.row-3{
    display: flex;
	justify-content: space-between;
}
.row-2{
    display: flex;
}
.col {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left-img {
	margin-right: 30px;
}