body{
    margin:0px;
    padding: 0px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    height:80px;
    background-color:black;
    align-items:center;
    position:fixed;
    width: 100%;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items:center;  
    height:80px;  
}

.link{
    display: flex;
}

.link a{
    color:white;
    padding:0.8rem;

}

a:hover{
    color: aqua;
}

#section1{
    padding-top: 80px;
    background-color: cyan;
    min-width: 70vh;
}

#section1 .container{
    display: flex;
    padding: 80px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#section2{
    padding-top:80px;
    min-width: 70vh;
    background-color: sandybrown;
    padding: 80px;
}

.bottom-box {
	position: relative;
	width: 527px;
	height: 320px;
	background: linear-gradient(359.37deg, #000 3.09%, #ff4632 22.4%, #fae62d 46.64%, #9bf0e1 62.15%, #a0c3d2 79.91%, #4100f5 99.49%);
	background-repeat: no-repeat;
}
.top-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    width: 480px;
    height:400px
}